<ion-view hide-nav-bar="true"  hide-back-button="true" view-title="{{'global.menu.indexpage' | translate}}">
	<ion-content>
			<div class="main-title">Gestion des clients</div>
			<div class="return"><button ui-sref="indexpage" class="btn btn--return">Retour</div>
				<!--<div class="row text-center">
					<div>
						<h1>Choix du devis</h1>
						<h3>MADERA</h3>
					</div>
				</div>-->

					<div class="row">
						<div class="col col-80 col-offset-10">
							<input type="text" class="input--text input--search" ng-model="vm.searchBox" /><button class="btn btn--search" ui-sref="customermanager({page:1,search:vm.searchBox})">Search</button>
						</div>
					</div>
				<div class="row">
						<div class="col col-80 col-offset-10">

						<div class="table-responsive">
							 <table class="madera--table index-table">
					            <thead>
					                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					                    <th jh-sort-by="name"><span>Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
					                    <th><span>Prénom</span> <span class="glyphicon glyphicon-sort"></span></th>
					                    <th><span>Addresse</span> <span class="glyphicon glyphicon-sort"></span></th>
					                    <th id="th-tools"></th>

					                </tr>
					            </thead>
					            <tbody>
					                <tr ng-repeat="customer in vm.customers track by customer.id">
					                    <td>{{customer.name}}</td>
					                    <td>{{customer.firstname}}</td>
					                    <td>{{customer.address}}</td>

					                    <td class="text-right">
					                        <div class="btn-group flex-btn-group-container">
					                            <button type="submit"
					                            		ng-click="vm.editCustomer(customer)"
					                                    class="btn btn-edit">
					                                <span class="hidden-xs hidden-sm">Editer</span>
					                            </button>
					                            <button type="submit"
					                                    ui-sref="madera-admin.composants-configuration.delete({id:composant.id})"
					                                    class="btn btn-delete">
					                                <span class="hidden-xs hidden-sm">Supprimer</span>
					                            </button>
					                        </div>
					                    </td>
					                </tr>
					            </tbody>
					        </table>
					        </div>



					        <div class="text-center row--pagination">

								<div class="page--nb" ng-repeat="number in getNumber(vm.nbPages)" ng-class="{'page--nb-current':number == vm.page }" nav-transition="none" ui-transition='none' ui-sref="customermanager({page:number,search:vm.stateSearch})" >
									<span >{{number}}</span>
								</div>

						    </div>



		  				</div>
		  			</div>

		  			<div class="row">
		  				<div class="col col-50 col-offset-25">
		  					<button ng-click="vm.connect()" class="btn btn--default" style="margin-top: 10px;">Ajouter un client</button>
		  				</div>
		  			</div>



	</ion-content>
</ion-view>
