.madera--table
{
    th
    {
    	background-color:$color-madera !important;
      border-color: $color-madera !important;
    }
    td
    {
    	border-color: $color-madera!important;
    	color : $color-madera!important;
    }
  	#th-tools {
  		width: 195px !important;
  	}

}
