<ion-view hide-nav-bar="true"  hide-back-button="true" view-title="{{'global.menu.indexpage' | translate}}">
    <ion-content>
            <div class="main-title">Choix de la gamme</div>
            <div class="return"><button ng-click="vm.goBack()" class="btn btn--red btn--return">Retour</div>
                <!--<div class="row text-center">
                    <div>
                        <h1>Choix du devis</h1>
                        <h3>MADERA</h3>
                    </div>
                </div>-->
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                        <div class="col col-80 col-offset-10">
                            <input type="text" class="input--text input--search" ng-model="vm.searchBox" /><button class="btn btn--search" ui-sref="chooseassortment({search:vm.searchBox})">Search</button>
                        </div>
                    </div>
                <div class="row">
                        <div class="col col-80 col-offset-10">

                        <div class="table-responsive">
                             <table class="index-table">
                                <thead>
                                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                        <th jh-sort-by="name"><span>Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                                        <th><span>Prénom</span> <span class="glyphicon glyphicon-sort"></span></th>
                                        <th><span>Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                                        <th></th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="assortment in vm.assortments track by assortment.id">
                                        <td>{{assortment.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                             <div class="text-center row--pagination">

                                <div class="page--nb" ng-repeat="number in getNumber(vm.nbPages)" ng-class="{'page--nb-current':number == vm.page }" nav-transition="none" ui-transition='none' ui-sref="choosecustomer({page:number,search:vm.stateSearch})" >
                                    <span >{{number}}</span>
                                </div>

                            </div>
                    </div>
                </div>


    </ion-content>
</ion-view>

