<ion-view hide-nav-bar="true"  hide-back-button="true" view-title="{{'global.menu.indexpage' | translate}}">
	<ion-content>
			<div class="main-title">#{{vm.quotation.name}} - Création des produits</div>
			<div class="return"><button ng-click="vm.goBack()" class="btn btn--return">Retour</div>
				<!--<div class="row text-center">
					<div>
						<h1>Choix du devis</h1>
						<h3>MADERA</h3>
					</div>
				</div>-->

				<div class="row">
					    <div class="col col-80 col-offset-10">
					         <div class="table-responsive">
								 <table class="madera--table index-table">
						            <thead>
						                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
						                    <th jh-sort-by="module"><span>Module</span> <span class="glyphicon glyphicon-sort"></span></th>
						                    <th><span>Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
						                    <th><span>Angles et longueurs</span> <span class="glyphicon glyphicon-sort"></span></th>
						                    <th></th>

						                </tr>
						            </thead>
						            <tbody>

						            <!-- Liste des produits ajoutés -->

						                <tr ng-repeat="product in vm.products track by product.id">
						                    <td>{{product.module.name}}</td>

						                    <td ng-if="product != vm.select">{{product.name}}</td>
						                    <td ng-if="product == vm.select">
						                        <input type="text" class="form-control" name="name" id="field_name"  value="{{product.name}}"
			                                    ng-model="vm.editData.name" />
						                    </td>



						                    <td>
						                    	<button class="btn btn-select" ui-sref="configproduct({id_product:product.id})">
						                    		Sélectionner
						                    	</button>
						                    </td>
						                    <td class="text-right">
						                        <div ng-if="product != vm.select" class="btn-group flex-btn-group-container">
						                            <button type="submit"
						                                    ng-click="vm.selectElement(product, vm.editData)"
						                                    class="btn btn-edit">
						                                <span class="glyphicon glyphicon-pencil"></span>
						                                <span class="hidden-xs hidden-sm" >Editer</span>
						                            </button>
						                            <button type="submit"
						                                    ng-click="vm.removeProduct(product)"
						                                    class="btn btn-delete">
						                                <span class="hidden-xs hidden-sm">-</span>
						                            </button>
						                        </div>

						                         <div ng-if="product == vm.select" class="btn-group flex-btn-group-container">
						                             <button type="submit"
						                                   ng-click="vm.select=-1"
						                                    class="btn btn-danger btn-sm" style="min-width:90px">
						                                <span class="hidden-xs hidden-sm">Annuler</span>
						                            </button>
						                             <button type="submit"
						                                    ng-click="vm.save(vm.editData)"
						                                    class="btn btn-success btn-sm" style="min-width:90px">
						                                <span class="hidden-xs hidden-sm">Valider</span>
						                            </button>
						                        </div>

						                    </td>
						                </tr>



						                <!-- Ajout d'un produit -->

						                <tr>
						                    <td>
						                    	<button class="btn btn-select" ui-sref="choosemodule">
						                    		<span ng-show="vm.newProduct.module == null">Sélectionner</span>
						                    		<span ng-show="vm.newProduct.module != null">{{vm.newProduct.module.name}}</span>
						                    	</button>
						                    </td>





						                    <td><input ng-model="vm.newProduct.name" type="text" class="form-control input--form" /></td>
						                    <td></td>
						                    <td class="text-right">
						                        <div class="btn-group flex-btn-group-container">
						                            <button
						                            		ng-click="vm.addProduct()"
						                                    class="btn btn-edit">
						                                <span class="hidden-xs hidden-sm">Ajouter</span>
						                            </button>
						                        </div>
						                    </td>
						                </tr>

						            </tbody>
						        </table>
					        </div>
					    </div>
				</div>









	</ion-content>
</ion-view>
