.index-table
{
width:100%;
	th
	{
		color:white;
		font-weight:bold;
		font-size:15px;
		height:50px;
		border-color:$color-madera;

		line-height:50px;


		border-style: solid;
   		border-width: 1px;
	}
	td{
		color:$color-madera;
		border-color:$color-madera;
		height:40px;
		border-style: solid;
   		border-width: 1px;
   		line-height:40px;
   		text-align:center;
   		font-size:13px;
	}
	#th-date {
		width: 75px !important;
	}
	#th-ref {
		width: 100px !important;
	}
	#th-tools {
		width: 195px !important;
	}
	.edit
	{
		width:calc(100% - 44px);
		height:40px;
	}
	.delete
	{
		width:40px;
		height:40px;
	}
}

.page--nb
{
	background-color:$color-madera;
	color:white;
	width:40px;
	height:40px;
	display:inline-block;
	font-size:19px;
	font-weight:bold;
	margin-right:2px;
	margin-left:2px;
	line-height:40px;
}

.page--nb-current
{
	background-color:$color-madera-dark !important;
}

.row--pagination
{
	margin-top:10px;
}
