.indexquotation--container
{
	width:750px;
	height:490px;
	display:table;
	margin:0 auto;
	position:absolute;
	left: calc(50% - 375px);
	top: calc(50% - 245px);
}

.btn--indexquotation
{
	margin-top:20px;
	height:75px !important;
	font-size:20px !important;
	font-weight:bold !important;
}